<h1>all guitarist</h1>
<a href="/guitarists/new">new guitarist</a>

<div>
    {{#each guitarist}}
    <img src="{{this.img}}">
    <div>{{this.name}}</div>
    <div><a href="/guitarists/{{this._id}}">click</a></div>
    {{/each}}
</div>
