<h1>New Guitarist</h1>

<form action='/guitarists' method="POST">
    <div>Name: <input type="text" name="name"></div>
    <div>Band: <input type="text" name="band"></div>
    <div>Bio: <input type="text" name="bio"></div>
    <div>Image Url: <input type="text" name="img"></div>
    <div><input type="submit" value="Add New Guitarist"></div>
</form>
