<h1 class="mainHeader">New Guitarist</h1>
<div class ="form">
<form class="ui form sizing" action='/guitarists' method="POST">
    <div class="field">
        <label>Name</label>
        <input type="text" name="name">
    </div>
    <div class="field">
        <label>Band</label>
        <input type="text" name="band">
    </div>
        <div class="field">
        <label>Bio</label>
        <textarea type="text" name="bio"></textarea>
    </div>
        <div class="field">
        <label>Image</label>
        <input type="text" name="img" placeholder="Add Image URL">
    </div>
  
    <button class="ui button" type="submit">Add New Guitarist</button>
</form>
</div>