.body {
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #636363;
  color: white;
}

.mainHeader {
  text-align: center;
  font-family: 'Monoton';
  font-size: 125px;
  font-weight: 100;
  margin: 0;
  background: black;
}

a.links {
  color: white;
  padding-left: 5px;

}

a.links:hover {
  color: black
}

.new-guitarist {
  font-size: 40px;
  text-align: center;
  padding-bottom: 30px;
}

img:hover {
  opacity: 0.7;
}

.all-guitarist {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.guitarist-name {
  font-size: 25px;
  text-align: center;
}

.show_name {
  font-family: 'Monoton';
  font-weight: 50;
  font-size: 50px;
  background: black;
  padding-left: 5px;
}

.info {
  font-size: 25px;
  text-decoration: underline;
  letter-spacing: 3px;
  padding-bottom: 5px;
}

.guitarist-show-image {
  width: 70vw;
  height: 45vw;
  max-width: 935px;
  max-height: 600px;
  min-width: 320px;
  min-height: 200px;
  padding-right: 10px;
  padding-left: 15px;
}

.song-show-image {
  width: 70vw;
  height: 50vw;
  max-width: 800px;
  max-height: 600px;
  min-width: 320px;
  min-height: 300px;
  padding-right: 10px;
  padding-left: 5px;
}

.guitarist-details {
  max-width: 450px;
  padding-left: 15px;

}

#section {
  color: white
}

#section:hover {
  color: black
}

.ui.form.sizing {
  max-width: 75%;
}

.form {
  margin: auto;
}

.song-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 170px;
}

.guitarist_info {
  display: flex
}

.gears {
  width:60vw; 
}
@media (max-width: 800px) {
  .mainHeader {
    font-size: 75px;
  }

  .guitarist_info {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }

  .guitarist-details {
    max-width: 70vw;
    font-size: 15px;
  }
}