<h1 class="mainHeader">New Song</h1>

<div class="form">
    <form class="ui form sizing" action='/guitarists/{{guitarist._id}}/songs' method="POST">
        <div class="field">
            <label>Name</label>
            <input type="text" name="name">
        </div>
        <div class="field">
            <label>Album</label>
            <input type="text" name="album">
        </div>
        <div class="field">
            <label>Length</label>
            <input type="text" name="length">
        </div>
        <div class="field">
            <label>Image</label>
            <input type="text" name="img" placeholder="Add Image URL">
        </div>

        <button class="ui button" type="submit">Add New Song</button>

    </form>
</div>