<h1>New Gear</h1>

<form action='/guitarists/{{guitarist._id}}/songs/{{song._id}}/gear' method="POST">
    <div>Name: <input type="text" name="name"></div>
    <div>Album: <input type="text" name="album"></div>
    <div>Length: <input type="text" name="length"></div>
    <div><input type="submit" value="Add New Song"></div>
</form>
