<h1>New Gear</h1>

<form action='/guitarists/{{guitarist._id}}/songs/{{song._id}}/gears' method="POST">
    <div>Name: <input type="text" name="name"></div>
    <div>Brand: <input type="text" name="brand"></div>
    <div>Description: <input type="text" name="description"></div>
    <div><input type="submit" value="Add New Gear"></div>
</form>
